
:root{
    --orange : #f18119;
    --grey-black: #404040;
    --white : #fff;

    --light-orange: #FFa51D;
    --dark-orange: #FF713B;
    --main-font:'Source Sans Pro', sans-serif;

    --h1-font-size : 2.3rem;
    --h2-font-size : 1.5rem;
    --body-font-size: 1rem;
    --text-font-size: 0.75rem;
}

* {
    box-sizing: border-box;
}

/* GENERIC STYLE */
body,html {
    font-family: var(--main-font);
    font-size: var(--body-font-size);
    margin:0;
    padding: 0;
    text-align: center;
}
h1 {
    font-size: var(--h1-font-size);
    font-weight: 300;
}

h2 {
    font-size: var(--h2-font-size);
}

p{
    font-size: var(--body-font-size);
}
strong{
    font-weight: 900;
}
/* HEADER */
.header{
    background: url(/images/ribs.jpg)bottom right no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding: 0 1em 1em 1em;
}

.header > p{
    color:var(--orange);
    text-transform: uppercase;
    font-weight: 900;
    margin: 0;
}

.header .main-text{
    color:white;
    margin: 3em 0;
}

.header .top-text{
    font-size: var(--text-font-size);
}

/* CONTACT-FORM */
.contact {
    margin: 2em 1em;
}

.contact-title
{
    margin-bottom: 0;
}

.contact-title + p {
    margin-top: 0;
    margin-bottom: 1.75em;
    color: var(--dark-orange);
    text-transform: uppercase;
    font-weight: bold;
}

.contact-form *{
    display: block;
    margin: 1.1em auto;
}


.contact-form input,
.contact-btn{
    width:200px;
    height:2.2em;
    margin-bottom: 0;
}

.contact-text{
    font-size: var(--text-font-size);
    margin: 1em;
    padding: 0 2.5em;
}